*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ol, ul{
  list-style: none;
}
li > a{
  display: block;
  padding: 8px;
}
.block-container,
.row{
  width: 100%;
}
.row{
  display: flex;
}
.space-between-x{
  justify-content: space-between;
}
.items-center-y{
  align-items: center;
}
.container{
  position: relative;
  margin: auto;
  width: 96%;
}
.col-auto{
  width: max-content;
}
.col-7{
  width: 70%;
}
.col-3{
  width: 30%;
}

.p-6{
  padding: 8px;
}